html,body{
    width:100%;
    height:100%;
    margin:0;
}
.is-fullwidth{
    width:100%!important;
}
.has-background-Power{
    background:rgb(255, 160, 82)
}
.has-background-Condition{
    background:rgb(82, 255, 148)
}
.has-background-Toughness{
    background:rgb(77, 201, 104)
}
.has-background-Precision{
    background:rgb(255, 82, 82)
}
.has-background-Boon{
    background:rgb(163, 177, 255)
}
.has-background-Heal{
    background:rgb(82, 220, 255)
}
.has-background-All{
    background:linear-gradient(to left,#fcc,#ffc,#cfc,#ccf,#fcf)
}
.has-background-Random{
    background:rgb(206, 206, 206)
}
.has-background-Bad{
    background:#333;
    color:#fff;
}
.transp{
    filter:blur(1px) brightness(.5);
    transition-duration: .2s;
}
.transp:hover{
    filter: blur(0px) brightness(0.8);
}
tr{
    background:#fff;
}
.sortable-col{
    cursor:pointer;
    transition-duration:0.5s;
}
.sortable-col:hover{
    background:#ddd;
}
.blocky{
    display:block!important;
}
.is-one-tenth{
    width:10%;
    flex:none;
}
.is-eight-tenths{
    width:80%;
    flex:none;
}
.main-bg{
    background:#000;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}
.modal-content{
    width:80%;
}
.no-show-row{
    display:none;
}
.item-icon{
    max-width: 30px;
    max-height: 30px;
}
.is-size-8{
    font-size:0.6rem!important;
}