<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>GW2 Trinket Manager</title>
</head>

<body>
    <div id="main" class='columns is-fullwidth main-bg' style='' v-bind:style='"background-image:"+panelBg'>
        <div class="column is-one-tenth"></div>
        <div class="panel column is-eight-tenths">
            <div class="panel-heading has-text-white has-background-grey-darker is-size-3">
                Guild Wars 2 Trinket Manager
                <button class="button is-danger is-pulled-right" v-on:click='removeUser();'
                    title='Remove this API key from memory'><i class="fa fa-times"></i></button>
                <button class="button is-link is-pulled-right" v-on:click='displayHalp.all=true;'
                    title='View Instructions'>?</button>
            </div>
            <div class="panel-block blocky has-background-grey-lighter" style='min-height:900px;'>
                <div class="is-fullwidth columns is-multiline">
                    <div class="column is-full"></div>
                    <div class="column is-one-fifth notification">
                        Hide Completed Characters
                    </div>
                    <div class="column is-two-fifths">
                        <input type="checkbox" class='checkbox' v-model='hideCompleted' id='tcc'
                            v-on:change='setDesired'> <label for="tcc">
                            Check to hide characters that are "completed" <br>(i.e., have all ascended trinkets of the
                            right attribute type)</label>
                    </div>
                    <div class="column is-one-fifth notification">
                        Hide Sub-Lvl-80 Characters
                    </div>
                    <div class="column is-one-fifth">
                        <input type="checkbox" class='checkbox' v-model='hideSubEighty' id='hsm'
                            v-on:change='setDesired'> <label for="hsm">
                            Check to hide characters that are not level 80</label>
                    </div>
                    <div class="column is-full">Hidden Characters: {{numHidden}}</div>
                    <div class="column is-one-fifth">Filter: </div>
                    <div class="column is-three-fifths"><input type="text" class="input"
                            placeholder='Enter search terms, separated by commas.' v-model='searchTerms'></div>
                </div>
                <table class="table is-fullwidth" style='table-layout:fixed;' v-if='!!allChars'>
                    <thead>
                        <tr>
                            <th v-on:click='changeSort("name")' class='sortable-col'>Name <span
                                    v-if='sortStuff.col=="name" && sortStuff.reverse'>&#9650;</span><span
                                    v-if='sortStuff.col=="name" && !sortStuff.reverse'>&#9660;</span></th>
                            <th v-on:click='changeSort("gender")' class='sortable-col'>Gender <span
                                    v-if='sortStuff.col=="gender" && sortStuff.reverse'>&#9650;</span><span
                                    v-if='sortStuff.col=="gender" && !sortStuff.reverse'>&#9660;</span></th>
                            <th v-on:click='changeSort("race")' class='sortable-col'>Race <span
                                    v-if='sortStuff.col=="race" && sortStuff.reverse'>&#9650;</span><span
                                    v-if='sortStuff.col=="race" && !sortStuff.reverse'>&#9660;</span></th>
                            <th v-on:click='changeSort("prof")' class='sortable-col'>Profession <span
                                    v-if='sortStuff.col=="prof" && sortStuff.reverse'>&#9650;</span><span
                                    v-if='sortStuff.col=="prof" && !sortStuff.reverse'>&#9660;</span></th>
                            <th v-for='s in slots'>{{s}}</th>
                            <th>Desired Stat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if='!loaded'>
                            <td colspan='11' class='has-text-centered is-size-4 has-text-weight-bold'>
                                loading...
                            </td>
                        </tr>
                        <tr v-for='ch in userListFiltered'
                            v-bind:class='{"transp":getFinished(ch) && hideCompleted, "no-show-row":(getFinished(ch) && hideCompleted)||(ch.level<80 && hideSubEighty)}'>
                            <td>{{ch.name}} <i class="fa fa-arrow-down is-size-6"
                                    v-bind:title='ch.name+" is not level 80! "+(ch.gender=="Female"?"She":"He")+" cannot equip ascended trinkets."'
                                    v-if='ch.level<80'></i></td>
                            <td>{{ch.gender}}</td>
                            <td>{{ch.race}}</td>
                            <td class='is-size-7'><img v-bind:src="ch.profPic" v-bind:alt="ch.prof">{{ch.prof}} <span
                                    v-if='ch.prof!=ch.generalProf'>({{ch.generalProf}})</span></td>
                            <td v-for='ei in ch.equip' style=''>
                                <div v-if='!!ei.stats && !!ei.stats.theItem' class='is-fullwidth has-text-centered'
                                    v-bind:class="'has-background-'+spaceless(ei.stats.theItem.type)+' rare-border-'+ei.stats.rarity"
                                    v-bind:title='getItemReport(ch.name,ei)'>
                                    <!-- <div class="is-fullwidth columns-simple">
                                        <div class='column smolpad'><i class="fa fa-check"
                                                v-if='ch.desiredStat && ei.stats.theItem.type==ch.desiredStat'
                                                title='This is a correct stat option for this character'></i><i
                                                class="fa fa-times"
                                                v-if='ch.desiredStat && ei.stats.theItem.type!=ch.desiredStat'
                                                title='This is an incorrect stat option for this character'></i></div>
                                        <div class='column smolpad'><i
                                                v-if='ei.stats.rarity && ei.stats.rarity!="Ascended" && ei.stats.rarity!="Legendary"'
                                                title='Warning: This item is not ascended or legendary!'
                                                class="fa fa-arrow-down is-size-7 tag is-tiny is-danger"></i></div>
                                        <div class='column smolpad' class="is-size-7"
                                            title="This trinket's agony resistance">
                                            <i class="fa fa-cog"></i> {{sum(ei.infusions)}}
                                        </div>
                                        <div class="column smolpad"
                                            v-bind:title='"Replace "+ei.slot+" trinket for "+ch.name+"."'>
                                            <button class="button is-info is-tiny is-pulled-right"
                                                v-on:click='trinketGet(ch,ei);'><i
                                                    class="fa fa-hand-point-right"></i></button>
                                        </div>
                                    </div> -->
                                    <!-- <div class="is-size-8 is-fullwidth">
                                        {{ei.stats.theItem.type}} ({{ei.stats.theItem.name}})
                                    </div> -->
                                    <div class="">
                                        <div class="is-size-7 has-background-grey-lighter">{{ei.name||'(Unknown)'}}
                                        </div>
                                        <img v-bind:src="ei.icon||'./unknown.png'"
                                            v-bind:alt="!!ei.name?ei.name+' icon':''">
                                    </div>
                                    <div class="is-fullwidth">
                                        <button class="button is-dark is-small"
                                            v-on:click='showManage(ch,ei);'>Manage</button>
                                    </div>
                                </div>
                                <div v-if="!ei.stats || !ei.stats.theItem||ei.noTrink"
                                    title="This trinket couldn't be found! It's probably not my fault."
                                    class='is-fullwidth'>
                                    <button class="button is-info is-tiny is-pulled-right"
                                        v-on:click='trinketGet(ch,ei);'><i
                                            class="fa fa-hand-point-right"></i></button><br>
                                    No Trinket!
                                </div>
                            </td>
                            <td>
                                <span class='is-size-7'><i class="fa fa-database" v-if='!isSpef(ch.desiredStat)'
                                        title='This is a general stat'></i><i class="fa fa-crosshairs"
                                        v-if='isSpef(ch.desiredStat)'
                                        title='This is a specific stat'></i>&nbsp;{{ch.desiredStat}}</span>
                                <button class="button is-dark is-small" v-on:click='showPickStat(ch)'><i
                                        class="fa fa-bar-chart"></i>Pick Stat</button>
                            </td>
                        </tr>
                        <tr v-if='loaded && userListFiltered.length==numHidden'>
                            <td class="has-text-centered is-size-4 has-text-weight-bold" colspan='11'>
                                All done! (...or we couldn't find any characters)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal" v-bind:class='{"is-active":displayHalp.all}'>
            <!-- the modal view-student-exercise window -->
            <div class="modal-background" v-on:click='displayHalp.all=false'></div>
            <div class="modal-content" v-on:click.stop>
                <div class="panel">
                    <div class="panel-heading has-background-link has-text-white is-size-4 has-text-weight-bold">
                        Instructions
                        <button class="button is-danger is-small is-pulled-right"
                            v-on:click='displayHalp.all=false'>x</button>
                    </div>
                    <div class="panel-block has-background-white blocky content">
                        There are two steps in using this app. Click one of the 👁 icons below to learn more.
                        <div class="notification">
                            <div class="is-size-5 is-fullwidth">
                                Getting an API Key
                                <button class="button is-small is-link is-pulled-right"
                                    v-on:click='displayHalp.api = !displayHalp.api;displayHalp.usage=false'>👁</button>
                            </div>
                            <div class="is-fullwidth" v-if='displayHalp.api'>

                                First, you'll need an API key. Head on over to the Guild Wars 2 account management site
                                and grab yourself an API key:
                                <ol>
                                    <li>Go <a href="https://account.arena.net" target='_blank'>here</a>!</li>
                                    <li>Click the <code>Applications</code> tab</li>
                                    <li>Click <code>New Key</code> (unless you have one already!).</li>
                                    <li>Now you'll need to pick what "permissions" you want the key to have.
                                        <ul>
                                            <li>Remember that the GW2 API is <i>read-only</i> (you can't change anything
                                                on a GW2 account), so don't worry about giving the key too much
                                                information. In any case, the key's stored locally (on your computer),
                                                so no one but you can see it!</li>
                                            <li>You have to pick "account", as that's a sort of "base" permission.
                                                You'll also need "characters", "builds" and "inventories".</li>
                                        </ul>
                                    </li>
                                    <li>Click <code>CREATE API KEY</code> once you're happy with your choices.</li>
                                    <li>Copy that API key down somewhere</li>
                                </ol>
                            </div>
                        </div>
                        <div class="notification">
                            <div class="is-size-5 is-fullwidth">
                                Using Guild Wars 2 Trinket Manager
                                <button class="button is-small is-link is-pulled-right"
                                    v-on:click='displayHalp.usage = !displayHalp.usage;displayHalp.api=false'>👁</button>
                            </div>
                            <div class="is-fullwidth" v-if='displayHalp.usage'>

                                This tool is designed to help you keep track of (preferably ascended) trinkets on your
                                account. Once you provide an API key, it'll automatically retrieve and list all your
                                characters on that account.
                                <ol>
                                    <li>Each character will get a single row in the table.</li>
                                    <li>You'll also have a dropdown list on the far-right for each character. This is
                                        your <i>target stat</i>.
                                        <ul>
                                            <li>For example, if you've selected "Power" as a target, trinkets with
                                                Berserker's, Valkyrie's, and Marauder's will be acceptable, whereas
                                                Sinister and Carrion will not (they're <i>Condition</i>).</li>
                                            <li>I've only included a few for now, but I may include other options later
                                            </li>.
                                        </ul>
                                    </li>
                                    <li>Your "goal" is, after picking a target stat, to fill each of the boxes with an
                                        appropriate, ascended trinket.
                                        <ul>
                                            <li>Any trinkets that are not ascended will have a small down arrow (<i
                                                    class="fa fa-arrow-down is-size-7"></i>),
                                                indicating they should be upgraded</li>
                                        </ul>
                                    </li>
                                    <li>For any character that has a full set of 6 ascended trinkets of the appropriate
                                        stat category, you'll see that row faded out, indicating that that character is
                                        finished!</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" v-bind:class='{"is-active":pickingStat.picking}'>
            <!-- the modal view-student-exercise window -->
            <div class="modal-background" v-on:click='pickingStat.picking=false'></div>
            <div class="modal-content" v-on:click.stop>
                <div class="panel">
                    <div class="panel-heading has-background-grey-darker has-text-white is-size-4 has-text-weight-bold">
                        Pick Target Stat
                        <button class="button is-danger is-small is-pulled-right"
                            v-on:click='pickingStat.picking=false'>x</button>
                    </div>
                    <div class="panel-block has-background-white blocky content">
                        <div class="columns is-fullwidth is-multiline">
                            <div class="column is-full"></div>
                            <div class="has-text-weight-bold column is-one-fifth notification">Picking For:</div>
                            <div class="column is-four-fifths">
                                <img v-if='pickingStat.picking' v-bind:src="pickingStat.char.profPic"
                                    v-bind:alt="pickingStat.char.prof"> {{pickingStat.char.race}}
                                {{pickingStat.char.prof}} {{pickingStat.char.name}}
                            </div>
                            <div class="has-text-weight-bold column is-one-fifth notification">General Stat:</div>
                            <div class="column is-four-fifths">
                                Pick a general stat type. <br>
                                <div class="is-size-7">(You'll be given the option of picking a specific stat below, if
                                    you want)</div>
                                <hr>
                                <span class="has-text-weight-bold">Stat: </span>
                                <div class="select">
                                    <select v-model='pickingStat.statCategory'>
                                        <option value="Power">Power</option>
                                        <option value="Precision">Precision</option>
                                        <option value="Condition">Condition</option>
                                        <option value="Heal">Heal</option>
                                        <option value="Boon">Boon</option>
                                        <option value="Tank">Tank</option>
                                        <option value="Other">Other</option>
                                        <option value="Not Recommended">Not Recommended</option>
                                        <option value="All">All</option>
                                    </select>
                                </div>
                                <div class="notification is-danger"
                                    v-if='pickingStat.statCategory=="All" && (!pickingStat.specific || !pickingStat.specificStat)'>
                                    <i class="fa fa-exclamation-triangle is-size-3"></i>&nbsp;Category "All" isn't a
                                    valid category (it's basically <i>every</i> stat option), so you'll need to pick a
                                    specific category below!</div>
                                <div class="is-fullwidth"></div>
                                <div class="notification is-warning" v-if='pickingStat.statCategory=="Not Recommended"'>
                                    <i class="fa fa-exclamation-triangle is-size-3"></i>&nbsp;Category "Not Recommended"
                                    contains stat combinations which I'd personally not recommend you use. Usually,
                                    they're too middle-of-the-road to be useful.</div>
                                <div class="is-fullwidth"></div>
                            </div>
                            <div class="has-text-weight-bold column is-one-fifth notification">Specific Stat (Optional):
                            </div>
                            <div class="column is-four-fifths">
                                <input type="checkbox" class='checkbox' v-model='pickingStat.specific' id='spef-stat'>
                                <label for="spef-stat">
                                    Yes, I'd like a specific stat (i.e., Berserker's)
                                </label>
                                <hr>
                                <div class="is-fullwidth" v-if='pickingStat.specific'>
                                    <div class="select">
                                        <select v-model='pickingStat.specificStat'>
                                            <option disabled value="">Please select one</option>
                                            <option v-for='ss in specifStatList' v-bind:value='ss'>{{ss.name}}</option>
                                        </select>
                                    </div> <span>{{statInfo}}</span>
                                </div>
                                <div class="is-fullwidth" v-if='!pickingStat.specific'>(No specific stat)</div>
                            </div>
                            <div class="column is-two-fifths"></div>
                            <button class="column is-one-fifth button is-info"
                                v-bind:disabled='pickingStat.statCategory=="All" && (!pickingStat.specific || !pickingStat.specificStat)'
                                v-on:click='doPickStat'>Pick it!</button>
                            <div class="column is-full"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" v-bind:class='{"is-active":getTrinketStuff.active}' style='z-index:9999;'>
            <!-- the modal view-student-exercise window -->
            <div class="modal-background" v-on:click='getTrinketStuff.active=false'></div>
            <div class="modal-content" v-on:click.stop>
                <div class="panel">
                    <div class="panel-heading has-background-grey-darker has-text-white is-size-4 has-text-weight-bold">
                        {{getTrinketStuff.oldStat?'Replace':'New'}} Trinket Options
                        <button class="button is-danger is-small is-pulled-right"
                            v-on:click='getTrinketStuff.active=false'>x</button>
                    </div>
                    <div class="panel-block has-background-white blocky content">
                        <div class="is-fullwidth"></div>
                        <div class="notification"><i class="fa fa-question-circle is-size-4"></i>&nbsp;You want
                            {{aAn(getTrinketStuff.slot)}} {{getTrinketStuff.slot}} for {{getTrinketStuff.char}} with
                            {{getTrinketStuff.stat}} stats.
                            <br>
                            <div class="is-fullwidth" v-if='getTrinketStuff.oldStat'>
                                {{getTrinketStuff.gender=="Female"?"Her":"His"}} current {{getTrinketStuff.slot}} is
                                {{getTrinketStuff.oldStat}}.
                            </div>
                        </div>
                        <br>
                        <div class="is-fullwidth notification">
                            <div class="is-fullwidth columns is-multiline">
                                <div class="column has-text-weight-bold is-full">Collectable Currencies<button
                                        class="button is-small is-info is-pulled-right"
                                        v-on:click='getTrinketStuff.showCollectable = !getTrinketStuff.showCollectable'><i
                                            class="fa fa-eye"></i></button></div>
                                <div class="column is-one-quarter-with-border notification has-text-white has-background-grey-darker"
                                    v-for='cc in getTrinketStuff.cc' v-if='getTrinketStuff.showCollectable'>
                                    {{cc.name}} <br>
                                    <img class='item-icon' v-bind:src="cc.icon"> <br>
                                    <div class="tag is-light" v-bind:title='"You have "+cc.amount+" "+cc.name+"(s)."'>
                                        {{cc.amount}}</div>
                                </div>
                            </div>
                            <hr>
                            <div class="is-fullwidth columns is-multiline">
                                <div class="column has-text-weight-bold is-full">Wallet Currencies<button
                                        class="button is-small is-info is-pulled-right"
                                        v-on:click='getTrinketStuff.showWallet=!getTrinketStuff.showWallet'><i
                                            class="fa fa-eye"></i></button></div>
                                <div class="column is-one-quarter-with-border notification has-text-white has-background-grey-darker"
                                    v-for='wc in getTrinketStuff.wc' v-if='getTrinketStuff.showWallet'>
                                    {{wc.name}} <br>
                                    <img class='item-icon' v-bind:src="wc.icon"> <br>
                                    <div class="tag is-light" v-bind:title='"You have "+wc.amount+" "+wc.name+"(s)."'>
                                        {{wc.amount}}</div>
                                </div>
                            </div>
                        </div>
                        <table class="table" style='table-layout:fixed;'>
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Collectable Cost:</th>
                                    <th>Wallet Cost:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for='tro in getTrinketStuff.options'>
                                    <td>{{tro.loc}}</td>
                                    <td>{{tro.fullCostOne}} {{tro.costName}} (You need {{tro.firstCost}} more)</td>
                                    <td>{{tro.fullCostTwo}} {{tro.secondCostName}} (You need {{tro.secondCost}} more)
                                    </td>
                                </tr>
                                <tr v-if='!getTrinketStuff.options.length'>
                                    <td class="has-text-center" colspan="3">
                                        Hey! We can't find a trinket that matches that slot and stat combo! Try picking
                                        a slightly different stat, or a more general stat category!
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" v-bind:class='{"is-active":manage.active}'>
            <!-- the modal view-student-exercise window -->
            <div class="modal-background" v-on:click='manage.active=false'></div>
            <div class="modal-content" v-on:click.stop>
                <div class="panel">
                    <div class="panel-heading has-background-grey-darker has-text-white is-size-4 has-text-weight-bold">
                        {{manage.char.name}}'s {{manage.item.slot}} Information
                        <button class="button is-danger is-small is-pulled-right"
                            v-on:click='manage.active=false'>x</button>
                    </div>
                    <div class="panel-block has-background-white blocky content">
                        <div class="is-fullwidth">&nbsp;</div>
                        <div class="is-fullwidth columns is-multiline">
                            <div class="column is-two-fifths notification">Name</div>
                            <div class="column is-three-fifths">{{manage.item.name||'(Unknown)'}}
                                <br>
                                <img v-bind:src="manage.item.icon||'./unknown.png'"
                                    v-bind:alt="!!manage.item.name?manage.item.name+' icon':''">
                            </div>
                            <!-- <div class="column is-full"></div> -->

                            <div class="column is-two-fifths notification">Stats</div>
                            <div class="column is-three-fifths" v-if='manage.item'>
                                <div class="is-fullwidth">
                                    {{!!manage.item && !!manage.item.stats?manage.item.stats.theItem.name:''}}
                                    ({{!!manage.item && !!manage.item.stats?manage.item.stats.theItem.type:''}})
                                </div>
                                <div class="is-fullwidth">
                                    <table class="table is-bordered">
                                        <thead>
                                            <tr>
                                                <th v-bind:colspan='manage.sb && manage.sb.length'>
                                                    Major Attribute(s)
                                                </th>
                                                <th v-bind:colspan='manage.ss && manage.ss.length'>Minor Attribute(s)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td v-for='big in manage.sb'>
                                                    {{statTrans(big)}}
                                                </td>
                                                <td v-for='small in manage.ss'>
                                                    {{statTrans(small)}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- <div class="column is-full"></div> -->

                            <div class="column is-two-fifths notification">Information</div>
                            <div class="column is-three-fifths">
                                
                                    <div class='is-fullwidth' v-if='manage.item && manage.char.desiredStat && manage.item.stats.theItem.type==manage.char.desiredStat'>
                                        <i class="fa fa-check has-text-success"></i>&nbsp;This item has correct stats!
                                    </div>
                                    <div class="is-fullwidth" v-if='manage.item && manage.char.desiredStat && manage.item.stats.theItem.type!=manage.char.desiredStat'>
                                        <i class="fa fa-times has-text-danger"></i>&nbsp;This item does not have correct stats!
                                    </div>
                                    <div class="is-fullwidth" v-if='manage.item && manage.item.infusions && manage.item.infusions.length'>
                                        <i class="fa fa-cog"></i>&nbsp;+{{sum(manage.item.infusions)}} Agony Resistance
                                    </div>
                                    <div class="is-fullwidth" v-if='manage.item && manage.item.stats && manage.item.stats.rarity && manage.item.stats.rarity!="Ascended" && manage.item.stats.rarity!="Legendary"'>
                                            <i class="fa fa-arrow-down has-text -danger"></i> This item is not Ascended or Legendary!
                                    </div>
                            </div>
                            <!-- <div class="column is-full"></div> -->

                            <div class="column is-two-fifths notification">Get New</div>
                            <div class="column is-three-fifths">
                                    <button class="button is-info is-large"
                                    v-on:click='trinketGet(manage.char,manage.item);'><i
                                        class="fa fa-plus"></i>&nbsp; New trinket options</button>
                            </div>
                            <!-- <div class="column is-full"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
    <script src="./js/bb.js"></script>
    <!-- <script src="./js/store.js"></script> -->
    <script src="./js/main.js" type='module'></script>
</body>

</html>